<div class="container-contacto">
    <div class="info-contacto">
        <i class="fas fa-envelope"> xinxiang@gmail.com</i>
        <i class="fas fa-map-marker-alt"> Nicolas Redondo, 87</i>
        <i class="fas fa-phone"> 955 65 40 09</i>
        
    </div>
    <div class="formulario-contacto">
        <h4>Formulario de Contacto</h4>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Correo Electronico">
            <input type="text" placeholder="Asunto">
            <textarea type="text" placeholder="Mensaje"></textarea>
        
        <button>ENVIAR</button>
    </div>
</div>