<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<footer class="col-12">
    <div class="col-12 usContainer">

    </div>
    <div class="copyrightContainer">

    </div>

    <div class="col-12 foot" id="foot">
        <div class="col-4 rrss" id="rrss">
            <table align="center">
                <thead>
                    <th>RRSS</th>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fab fa-facebook-square fa-lg"></i> FACEBOOK</td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-twitter-square fa-lg"></i> TWITTER</td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-instagram-square fa-lg"></i> INSTAGRAM</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4 pagos" id="pagos">
            <table align="center">
                <thead>
                    <th>PAGOS</th>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fab fa-cc-visa fa-lg"></i> VISA</td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-cc-mastercard fa-lg"></i> MASTERCARD</td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-cc-paypal fa-lg"></i> PAYPAL</td>
                    </tr>
                    <tr>
                        <td>BIZUM</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4 nosotros" id="nosotros">
            <table align="center">
                <thead>
                    <th>NOSOTROS</th>
                </thead>
                <tbody>
                    <tr>
                        <td>LOCALIZACIÓN</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CONTACTO</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="copyright" id="copyright">
        <h5><i class="fas fa-copyright fa-xs"></i> Copyright.2020</h6>
    </div>
</footer>
</body>
</html>