<footer class="col-12">
    <div class="col-12 usContainer">
        <div class="col-4 rrss">
            <div class="title"><b>RRSS</b></div>
            <div><i class="fab fa-facebook-square fa-lg"></i> FACEBOOK</div>
            <div><i class="fab fa-twitter-square fa-lg"></i> TWITTER</div>
            <div><i class="fab fa-instagram-square fa-lg"></i> INSTAGRAM</div>
        </div>
        <div class="col-4 payment">
            <div class="title"><b>PAGOS</b></div>
            <div><i class="fab fa-cc-visa fa-lg"></i> VISA</div>
            <div><i class="fab fa-cc-mastercard fa-lg"></i> MASTERCARD</div>
            <div><i class="fab fa-cc-paypal fa-lg"></i> PAYPAL</div>
            <div><i class="fab fa-bootstrap fa-lg"></i>BIZUM</div>
        </div>
        <div class="col-4 about">
            <div class="title"><b>NOSOTROS</b></div>
            <div class="element">
                <div><i class="fas fa-map-marker-alt fa-lg"></i>Localización</div>
                <div><i class="fas fa-info-circle fa-lg"></i>Contacto</div>
            </div>
        </div>
    </div>
    <div class="col-12 copyrightContainer">
        <div class="col-4 copyright">
            <h5><i class="fas fa-copyright fa-xs"></i> Copyright.2020</h5>
        </div>
    </div>
</footer>