<div class="container">
    <div class="logContainer">
        <div class="logoContainer">
            <div class="logo"><img src="../assets/img/logo.png"></div>
        </div>
    </div>
    <div class="loginsigninContainer">
        <div class="sign">
            <div><b>REGISTRARSE</b></div>
            <div><input type="text" placeholder="Nombre de Usuario"></div>
            <div><input type="text" placeholder="Correo o número de teléfono"></div>
            <div><input type="text" placeholder="Dirección"></div>
            <div><input type="password" placeholder="Contraseña"></div>
            <div><button type="submit">Registrar</button></div>
        </div>
        <div class="o">
            <p><b>ó</b></p>
        </div>
        <div class="log">
            <div><b>INICIAR SESIÓN</b></div>
            <div><input type="text" placeholder="Correo o número de teléfono"></div>
            <div><input type="password" placeholder="Contraseña"></div>
            <div><button type="submit">Iniciar Sesión</button></div>
        </div>
    </div>
</div>