<link rel="stylesheet" href="../styles/logreg.css">
<div class="logo" id="logo">
    <h1>LOGO</h1>
</div>
<div class="registro" id="registro">
    <form action="">
        <table>
            <thead>
                <th>Registrarse</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario"></td>
                </tr>
                <tr>
                    <td><input type="text" name="correoOnumero" id="correoOnumero" placeholder="Correo o número de teléfono"></td>
                </tr>
                <tr>
                    <td><input type="text" name="direccion" id="direccion" placeholder="Dirección"></td>
                </tr>
                <tr>
                    <td><input type="password" name="contraseña" id="contraseña" placeholder="Contraseña"></td>
                </tr>
                <tr>
                    <td><input type="button" value="Registrar" id="boton registrar"></td>
                </tr>
            </tbody>
        </table>        
    </form>
</div>
<div class="inicio" id="inicio">
    <form action="">
        <table>
            <thead>
                <th>Iniciar Sesión</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="correoOnumero" id="correoOnumero" placeholder="Correo o número de teléfono"></td>
                </tr>
                <tr>
                    <td><input type="password" name="contraseña" id="contraseña" placeholder="Contraseña"></td>
                </tr>
                <tr>
                    <td><input type="button" value="Iniciar Sesión" id="boton iniciar"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>