<div class="slideshow">
    <div class="slide fade col-12">
        <img src="../assets/img/platos/beijingya.jpg">
    </div>
    <div class="slide fade col-12">
        <img src="../assets/img/platos/publicidad.png">
    </div>
    <div class="slide fade col-12">
        <img src="../assets/img/platos/chaofengan.jpg">
    </div>
    <a class="prev" id="prev">&#10094;</a>
    <a class="next" id="next">&#10095;</a>
</div>
<div class="dots">
    <span class="dot" id="dot1"></span>
    <span class="dot" id="dot2"></span>
    <span class="dot" id="dot3"></span>
</div>