<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/contacto-localizacion-pedidos/header.css" rel="stylesheet">
    <link href="../assets/css/contacto-localizacion-pedidos/contacto.css" rel="stylesheet">
    <link href="../assets/css/contacto-localizacion-pedidos/localizacion.css" rel="stylesheet">
    <link href="../assets/css/contacto-localizacion-pedidos/pedidos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4be36513b.js" crossorigin="anonymous"></script>
    <link href="../assets/css/productos-slide/listaProd.css" rel="stylesheet">
    <link href="../assets/css/productos-slide/menu.css" rel="stylesheet">
    <link href="../assets/css/productos-slide/nav.css" rel="stylesheet">
    <link href="../assets/css/productos-slide/producto.css" rel="stylesheet">
    <link href="../assets/css/productos-slide/slide.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/carrito-login-footer/footer.css">
    <link rel="stylesheet" href="../assets/css/carrito-login-footer/carrito.css" />
    <link rel="stylesheet" href="../assets/css/carrito-login-footer/nos.css" />
    <link rel="stylesheet" href="../assets/css/carrito-login-footer/reserva.css">
    <!-- <script src="../assets/js/yi/yi.js" defer></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>

    <div class="contenedorHeaderMenu">
        <div>
            {% include header.html %}
        </div>
        {% include menu.html %}
    </div>
    {{content}} {% include footer.html %}
</body>

</html>