<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/alvaro/header.css" rel="stylesheet">
    <link href="../assets/css/alvaro/contacto.css" rel="stylesheet">
    <link href="../assets/css/alvaro/localizacion.css" rel="stylesheet">
    <link href="../assets/css/alvaro/pedidos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4be36513b.js" crossorigin="anonymous"></script>
    <link href="../assets/css/Irene.css" rel="stylesheet">
    <link href="../assets/css/yi/footer.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    
        <div class="contenedorHeaderMenu">
            <div>
                {% include header.html %}
            </div>
            {% include menu.html %}
        </div>
            {{content}}
        
            {% include footer.html %}
</body>
</html>