<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/alvaro/header.css" rel="stylesheet">
    <link href="../assets/css/alvaro/contacto.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4be36513b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <div class="contenedor-total">
        <div class="header-contacto">
            {% include header.html %}
        </div>
        <div class="contenido-contacto">
            {%include contacto.html %}
        </div>
    </div>
    
    
    
</body>
</html>