<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="nosotros.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="sobreNosotros">
        <h2>Sobre Nosotros:</h2>
        <p>
          Bienvenido a XinXiang Restaurant, el lugar perfecto para encontrar los
          mejores platos de la gastronomía china para todos los gustos. Nos
          centramos minuciosamente en la calidad de nuestros platos, trabajando
          siempre con ingradientes proveniente de Chinacon la finalidad de
          ofrecerte los platos más auténtico posibles. En XinXiang Restaurant
          contamos con los más altos estándares de calidad y servicio al
          cliente. Pero lo más importante es que creemos que comprar comida no
          es un lujo, sino una necesidad, por lo que nos esforzamos en brindarte
          los mejores productos a los precios más accesibles y rápida..
        </p>
      </div>
      <div class="quienesSomos">
        <h2>Quienes somos:</h2>
        <p>
          YiChen <br />
          Álvaro Rueda <br />
          Irene Granados <br />
        </p>
      </div>
    </div>
  </body>
</html>
