/* 
    ESTILOS PARA LA BARRA DE NAVEGACIÓN
*/

nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F36B1E;
}


/* Se centran los elementos de la barra de navegación*/

.breadcrumbs {
    align-items: center;
}


/* Se quitan las viñetas de la lista */

ul.breadcrumbs {
    list-style: none;
}


/* Se da formato a los elementos de la lista*/

ul.breadcrumbs li {
    display: inline;
    font-size: 3vw;
}


/* Se añade el elemento que separa las distintas páginas */

ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}


/* Se da formato a los enlaces */

ul.breadcrumbs li a {
    color: black;
    text-decoration: none;
}


/*
    ESTILOS PARA EL MENÚ DESPLEGABLE
*/


/* Se da estilo a los divs que van a formar el icono de hamburguesa */

.burgerMenu {
    width: 6vw;
    height: 1vw;
    background-color: black;
    margin: 1vw 4vw;
}


/* Estilo del div que va a contener el icono del menu de hamburguesa */

.showMenu {
    background-color: #F36B1E;
    border: none;
}


/* Se establece la posición del icono y de los elementos del menu */

.menuButton {
    position: relative;
    display: inline-block;
    background-color: #F36B1E;
}


/* Estilo para el div que contiene los elementos del menu */

.menuContent {
    margin-top: 2vw;
    display: none;
    /* Hacemos que no sea visible*/
    position: absolute;
    background-color: #fbd0b6;
    width: 35vw;
    box-shadow: 5px 5px 5px 0px rgba(254, 239, 231, 1);
    z-index: 1;
}


/* Estilo para los elementos del menu */

.menuContent a {
    color: black;
    padding-left: 4vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-decoration: none;
    display: block;
    border: solid 1px #f9b286;
}


/* Color del elemento del menú seleccionado */

.menuContent a:hover {
    background-color: #f9b286;
}


/* Cuando tocamos el icono del menú de hamburguesa mostramos sus elementos */

.menuButton:hover .menuContent {
    display: block;
}


/*
    ESTILOS PARA EL SLIDE
*/


/* Estilos para el contenedor de los slides */

.slideshow {
    box-sizing: border-box;
    width: 100%;
    height: 35vw;
    position: relative;
    margin: auto;
}


/* Ocultamos las imagenes por defecto */

.slide {
    display: none;
}


/* Estilo para los botones prev y next */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -5vw;
    padding: 2vw 4vw;
    color: #F36B1E;
    font-weight: bold;
    font-size: 5vw;
    transition: 0.6s ease;
    user-select: none;
}


/* Ponemos el botón next a la izquierda */

.next {
    right: 0;
}


/* Estilos para las imagenes */

.slide img {
    width: 100%;
    height: 35vw;
}


/* Centramos el div que contiene todos los puntos */

.dots {
    display: flex;
    justify-content: center;
}


/* Estilos para los circulos de posición */

.dot {
    cursor: pointer;
    height: 2vw;
    width: 2vw;
    margin: 1vw 2vw;
    background-color: #f9b286;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #F36B1E;
}


/* Animación del cambio de imagen */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}