/* 
    ESTILOS PARA LA BARRA DE NAVEGACIÓN
*/

nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F36B1E;
}


/* Se centran los elementos de la barra de navegación*/

.breadcrumbs {
    align-items: center;
}


/* Se quitan las viñetas de la lista */

ul.breadcrumbs {
    list-style: none;
}


/* Se da formato a los elementos de la lista*/

ul.breadcrumbs li {
    display: inline;
    font-size: 3vw;
}


/* Se añade el elemento que separa las distintas páginas */

ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}


/* Se da formato a los enlaces */

ul.breadcrumbs li a {
    color: black;
    text-decoration: none;
}


/*
    ESTILOS PARA EL MENÚ DESPLEGABLE
*/

.showMenu {
    background-color: #F36B1E;
    padding: 4vw;
    border: none;
}

.menuButton {
    position: relative;
    display: inline-block;
}

.menuContent {
    margin-top: 2vw;
    display: none;
    position: absolute;
    background-color: #fbd0b6;
    width: 35vw;
    box-shadow: 5px 5px 5px 0px rgba(254, 239, 231, 1);
    z-index: 1;
}

.menuContent a {
    color: black;
    padding: 3vw 4vw;
    text-decoration: none;
    display: block;
}

.menuContent a:hover {
    background-color: #f9b286;
}

.menuButton:hover .menuContent {
    display: block;
}

.menuButton:hover .showMenu {
    background-color: #db5a0a;
}