.contenedorPagoCarro {
    display: flex;
    flex-wrap: wrap-reverse;
}

.platos,
.pagosContainer {
    display: flex;
    padding: 5%;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
}

.platos {
    direction: column;
}


/* input {
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  border-color: rgb(255, 0, 0);
  color: rgb(170, 0, 0);
}

input:focus {
  padding: 2.5%;
  border-radius: 20px;
  background-color: rgb(255, 154, 154);
  color: black;
  font-size: medium;
}

button {
  padding: 10%;
  margin: 5%;
  background-color: rgb(255, 91, 91);
  border-radius: 20px;
  color: rgb(255, 238, 0);
} */

.boton {
    display: flex;
    justify-content: center;
}