body {
    display: flex;
    flex-flow: column nowrap;
}

div {
    margin: 1%;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.loginsigninContainer {
    display: flex;
    flex-direction: column;
}

.sign,
.log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o {
    display: flex;
    justify-content: center;
}

input {
    padding: 1%;
    border-radius: 20px;
    border-color: rgb(255, 0, 0);
    color: rgb(170, 0, 0);
}

input:focus {
    padding: 2.5%;
    border-radius: 20px;
    background-color: rgb(255, 154, 154);
    color: black;
    font-size: medium;
}

button {
    padding: 10%;
    margin: 5%;
    background-color: rgb(255, 91, 91);
    border-radius: 20px;
    color: rgb(255, 238, 0);
}

img {
    width: 20%;
    height: 10%;
}