.contenedor-total{
    display: grid;
    grid-template-rows: 20vw 10vw 100vw 30vw;

}

.container-contacto{
    display: grid;
    align-items:center;
    grid-template-rows: 40vw 40vw;
}
.formulario-contacto input{
    padding: 1vw;
    margin-top: 1vw;
    width: 60vw;
    margin-left: 19vw;
}
.formulario-contacto textarea{
    padding: 1vw;
    margin-top: 1vw;
    width: 60vw;
    margin-left: 19vw;
}
.formulario-contacto button{
    width: 40vw;
    padding: 1vw;
    margin-top: 1vw;
    margin-left: 30vw;
}
.formulario-contacto{
    display: grid;
    text-align: center;
    align-items: center;
}
.info-contacto{
    display: grid;
    grid-template-rows: auto;
}
.info-contacto i{
    padding: 2vw;
    margin-left: 25vw;
}
.info-contacto p{
font-size: 4vw;
}
