header {
   display: grid;
   grid-template-columns: 33vw 45vw 18vw;
   overflow: hidden;
   position: fixed;
   top: 0;
   
   height: 20vw;
   align-items: center;
   background-color: #F36B1E;
}
.logo img{
height: 14vw;
}
.logSign i{
   margin-left: 10vw;
   
}
.search input{
   margin-left: 1vw;
   height: 3vw;
   width: 40vw;
}


