.pedidos-container{
    display: grid;
    grid-template-rows:20vw 70vw 80vw;
    margin-bottom: 10vw;
}
.pedidos-container h2{
    text-align: center;
}
.comida-container {
    border-color: #F36B1E;
    border-width: 0.5vw;
    border-style: solid;
}

.modificar-comida-container{
    display: grid;
    grid-template-columns: 50vw 40vw;
    
}
.modificar-comida-container h5{
    margin-left: 8vw;
    
    
}
.modificar-comida-container i{
    padding: 4vw;
    margin-left: 5vw;
    
}
.precio-comida-container{
    margin-left: 8vw;
}
.info-pedido-container{
    margin-top: 10vw;
    display: grid;
    grid-template-columns: 45vw 50vw;
    text-align: center;
}
.envio-container{
    border-color: #F36B1E;
    border-width: 0.5vw;
    border-style: solid;
}
.recogida-container{
    margin-left: 2vw;
    border-color: #F36B1E;
    border-width: 0.5vw;
    border-style: solid;
    height: 40vw;
}
.boton-envio button{
height: 10vw;
margin-top: 2vw;

}

.boton-recogida button{
    height: 10vw;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 8vw;
}